<section layout="row" layout-sm="column" layout-align="center center" layout-wrap novalidate>
  <div id="top" ng-controller="QuizCtrl">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ title }}</span>
        <span class="md-subhead">{{ explanation }}</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row" layout-align="space-between center">

  <form name="questionForm" ng-submit="submit()" ng-cloak >
    <div ng-if="questionForm.$submitted">
      <p class="score">あなたの得点は{{ score }} 点です</p>
    </div>
    <hr />
    <div ng-repeat="(key, question) in questions">
      <p>[問題{{key + 1}}] {{ question.title }}</p>
      <div ng-if="questionForm.$submitted">
        <span class="correct" ng-if="question.value == question.answer">おめでとうございます。正解です。</span>
        <span class="incorrect" ng-if="question.value != question.answer">残念。不正解です。</span>
      </div> 
      <div ng-if="questionForm.$submitted == false">
        <md-radio-group ng-model='question.value' required>
          <md-radio-button name="i-1" value="1" class="md-primary">正しい</md-radio-button>
          <md-radio-button name="i-0" value="0">間違い</md-radio-button>
        </md-radio-group>
      </div>
      <div ng-if="questionForm.$submitted">
        この記述は
        <span ng-if="question.answer == 1">
          <strong>正しい</strong>
        </span>
        <span ng-if="question.answer == 0">
          <strong>間違い</strong>
	</span>
        <span>: {{ question.explanation.text }}</span>
        <div>=> <a href="{{ question.explanation.link}}" target="_blank">さらに詳しい解説はこちら</a></div>
      </div>
      <hr />
  </div>
  <div ng-if="questionForm.$submitted">
      <p class="score">あなたの得点は{{ score }} 点です</p>
      <button ng-click="reset()" type="button">再挑戦する</button>
      <br><br>
      <span>他のクイズにもチャレンジする => <a href="https://quiz.syumatsu-yoho.com/#/">クイズ一覧</a></span>
      <br><br>
    <div>
      <span>以下のページで分蜂について学んでみましょう。</span>
      <ul>
        <li><a href="https://syumatsu-yoho.com/38/node/1522" target="_blank">分蜂(分封、ぶんぽう)とは？ニホンミツバチが増える仕組み</a></li>
        <li><a href="https://syumatsu-yoho.com/38/node/55" target="_blank">ニホンミツバチの捕獲方法と捕獲の10つのコツ</a></li>
      </ul>
      <p>他にも、<a href="https://syumatsu-yoho.com/38/" target="_blank">週末養蜂家のニホンミツバチのおいしいはちみつ</a>では、初心者向けの飼育方法を解説しています。本とDVDで学びたい方には<a href="http://korenara.bee-book.net/" target="_blank">これならできる!ニホンミツバチの週末養蜂</a>がオススメです。</p>
        <p>また、ニホンミツバチについての質問は、<a href="https://38qa.net/" target="_blank">ニホンミツバチのQ&A</a>までお寄せください。ニホンミツバチ最大のコミュニティです。</p>
        <p>※このクイズは、京都ニホンミツバチ週末養蜂の会の飼育方法に基づいております。</p>
      </div>
    </div>
    <div ng-if="questionForm.$submitted == false">
      <div ng-show="questionForm.$invalid">
        <span>全て回答してください。</span>
      </div>
      <button class="md-raised md-primary md-button md-ink-ripple" ng-disabled="questionForm.$invalid" type="submit" >
        <span class="ng-scope">採点する</span>
        <div class="md-ripple-container"></div>
      </button>
    </div>
  </form>
</div>
    </md-card-content>
  </md-card>


