<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">ニホンミツバチクイズ</span>
      <span class="md-subhead">ニホンミツバチの知識を確認しましょう。このクイズは、京都ニホンミツバチ週末養蜂の会が提供しています。クイズはどんどん増えていきます。全て100点が取れるようにしましょう。</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div layout="row" >
    <h5>ニホンミツバチについて知りましょう</h5>
    </div>
    <div layout="row" >
    <ul>
      <li><a href="/#/quiz/4" >1. ニホンミツバチの基礎知識</a></li>
    </ul>
    </div>
    <div layout="row" >
    <h5>これから捕獲したい人は、以下のクイズにチャレンジしましょう</h5>
    </div>
    <div layout="row" >
    <ul>
      <li><a href="/#/quiz/1" >1. 分蜂基礎知識チェック</a></li>
      <li><a href="/#/quiz/2" >2. 分蜂群れの捕獲方法・コツ [基本編]</a></li>
      <li><a href="/#/quiz/3" >3. 分蜂群れの捕獲方法・コツ [キンリョウヘン・待ち箱ルアー]</a></li>
      <li><a href="/#/quiz/5" >4. 分蜂群れの捕獲方法・コツ [巣箱・設置場所]</a></li>
    </ul>
    </div>
  </md-card-content>

</md-card>


